
{% macro initial_cluster() -%}
{% for host in groups[etcd_group] -%}
  {{ hostvars[host]['ansible_hostname'] }}=https://
  {%- if etcd_iface != "" -%}
    {{ hostvars[host]['ansible_' + etcd_iface].ipv4.address }}
  {%- else -%}
    {{ hostvars[host].ansible_default_ipv4.address }}
  {%- endif -%}
:{{ etcd_peer_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

# [security]
ETCD_AUTO_TLS="true"
ETCD_PEER_AUTO_TLS="true"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_PEER_CLIENT_CERT_AUTH="true"

ETCD_NAME="{{ ansible_hostname }}"
ETCD_DATA_DIR="{{ directory_data}}"

#[Private CA]
CERT-FILE="{{ cert }}"
KEY-FILE="{{ cert_key }}"
PEER-CERT-FILE="{{ cert }}"
PEER-KEY-FILE="{{ cert_key }}"

# [Center CA]
TRUSTED-CA-FILE="{{ca}}"
PEER-TRUSTED-CA-FILE="{{ca}}"

#[Conneted URLS]
INITIAL-ADVERTISE-PEER-URLS="{{ etcd_initial_advertise_peer_urls }}"
LISTEN-PEER-URLS="{{ etcd_listen_peer_urls }}"
LISTEN-CLIENT-URLS="{{ etcd_advertise_client_urls }}"
ADVERTISE-CLIENT-URLS="{{ etcd_listen_client_urls }}"

#[Token]
INITIAL-CLUSTER-TOKEN="{{ initial_cluster_token }}"
INITIAL-CLUSTER-STATE="new"

#[need to fix]
INITIAL-CLUSTER="{{ initial_cluster() }}"
PROXY=off
