{% macro initial_cluster() -%}
{% for host in groups[etcd_group] -%}
  {{ hostvars[host]['ansible_hostname'] }}=https://
  {%- if etcd_interface != "" -%}
    {{ hostvars[host]['ansible_' + etcd_interface].ipv4.address }}
  {%- else -%}
    {{ hostvars[host].ansible_default_ipv4.address }}
  {%- endif -%}
:{{ etcd_peer_port }}
  {%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{% endmacro -%}

# [security]
ETCD_AUTO_TLS="{{ auto_tls }}"
ETCD_PEER_AUTO_TLS="{{ peer_auto_tls }}"
ETCD_CLIENT_CERT_AUTH="{{ client_cert_auth }}"
ETCD_PEER_CLIENT_CERT_AUTH="{{ peer_client_cert_auth }}"


# [info]
ETCD_NAME="{{ ansible_hostname }}"
ETCD_DATA_DIR="{{ directory_data}}"
ETCD_WAL_DIR="{{ directory_wal_dir }}"
ETCD_SNAPSHOT_COUNT="{{ snapshot_count }}"
ETCD_HEARTBEAT_INTERVAL="{{ heartbeat_interval }}"
ETCD_ELECTION_TIMEOUT="{{ election_timeout }}"
ETCD_MAX_SNAPSHOTS="{{ max_snapshots }}"
ETCD_MAX_WALS="{{ max_wals }}"

#[Private CA]
ETCD_CERT_FILE="{{ etcd_cert }}"
ETCD_KEY_FILE="{{ etcd_cert_key }}"
ETCD_PEER_CERT_FILE="{{ etcd_cert }}"
ETCD_PEER_KEY_FILE="{{ etcd_cert_key }}"

# [Center CA]
ETCD_TRUSTED_CA_FILE="{{etcd_ca}}"
ETCD_PEER_TRUSTED_CA_FILE="{{etcd_ca}}"

#[Conneted URLS]


#[Token]
ETCD_INITIAL_CLUSTER_TOKEN="{{ initial_cluster_token }}"
ETCD_INITIAL_CLUSTERSTATE=new

#[need to fix]
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_initial_advertise_peer_urls }}"
ETCD_INITIAL_CLUSTER="{{ initial_cluster() }}"
ETCD_LISTEN_PEER_URLS="{{ etcd_listen_peer_urls }}"
ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_advertise_client_urls }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_listen_client_urls }}"
ETCD_PROXY=off
