{
  "CN": "{{ item.name }}",
  "key": {
    "algo": "{{ key.algo }}",
    "size": {{ key.size }}
  },
  "names": [
    {
      "C": "{{ names.c }}",
      "ST": "{{ names.st }}",
      "L": "{{ names.l }}",
      "O": "{{ item.org }}",
      "OU": "{{ names.ou }}"
    }
  ]
}
